* {
  margin: 0;
  padding: 0;
}
.lv1 {
  border: 3px solid #000;
  margin: 10px;
  height: 200px;
  position: relative;
}
.lv2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: pink;
  width: 200px;
  height: 100px;
}
