* {
  margin: 0;
  padding: 0;
}
.lv1 {
  border: 3px solid #000;
  margin: 10px;
  height: 200px;
  position: relative;
}
.lv2 {
  position: absolute;
  top: 50%;
  background: pink;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
